/* Global variables */
:root {
  --bg-color: #ffffff;
  --link-bg-color: #000080;
  --link-hover-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --link-bg-color: lightgreen;
    --link-hover-color: #000000;
    --text-color: #ffffff;
  }
}

/* https://github.com/github/mona-sans#styles */
@font-face {
  font-family: 'Mona Sans';
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75% 125%;
  src:
    url('/fonts/MonaSans.woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans.woff2') format('woff2-variations');
}

a {
  /* All the contrast. */
  color: var(--text-color);
}

a:hover, a:focus {
  color: var(--link-hover-color);
  background-color: var(--link-bg-color);
}

#archive-attention {
  font-size: .75em;
}

banner {
  display: flex;
  justify-content: center;
  font-size: 1.75em;
  /* Light */
  font-weight: 300;
  font-stretch: 100%;
}

.bg-blue {
  background-color: lightblue;
}

.bg-green {
  background-color: lightgreen;
}

.bg-red {
  background-color: pink;
}

blockquote {
  color: #000000;
  margin: .5em;
  font-size: .75em;
  background-color: #eceff1;
  border-radius: 10px;
  padding: 8px 12px;
}

blockquote a {
  color: #000000; /* Always black on a white background. */
}

blockquote footer {
  display: block; /* Override footer styling below. */
  margin-top: 5px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Mona Sans', verdana, sans-serif;
  padding: 1em;
  font-size: 4vw;
  /* Regular */
  font-weight: 400;
  font-stretch: 100%;
}

code {
  font-size: .75em;
}

figcaption {
  padding-top: .5em;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em;
}

figure img {
  width: 32;
}

footer {
  display: flex;
  font-size: .75em;
  justify-content: space-around;
}

header {
  box-sizing: border-box
  display: flex;
  font-size: .75em;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

mark {
  border-radius: 10px;
  /* Just enough distance to separate the box but not too far from non-marked height.*/
  line-height: 1.3;
  padding: 0 2px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}

#posts ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#posts ul li {
  padding-top: .5em;
}

pre {
  /*background-color: #f5f5f5;*/
  background-color: #eceff1;
  border-radius: 10px;
  color: black;
  font-size: .5em;
  padding: 8px 12px;
  white-space: pre-wrap;
}

#tags ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#tags ul h3 {
  text-align: center;
}

time {
  display: block;
  font-size: .5em;
}

.underline {
  text-decoration: underline;
}

section {
  display: flex;
  justify-content: center;
}

@media (orientation: landscape) {
  body {
    font-size: 3vw;
    max-width: 75vw;
    margin: 0 auto;
  }
}

@media (orientation: landscape) and (min-width: 960px) {
  body {
    font-size: 2.5vw;
  }
}

@media (orientation: landscape) and (min-width: 1080px) {
  body {
    font-size: 2vw;
  }
}

@media (orientation: landscape) and (min-width: 1200px) {
  body {
    font-size: 1.75vw;
  }
}
