@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/MonaSans-Regular.woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans-Regular.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Mona Sans Black';
  src:
    url('/fonts/MonaSans-Black.woff2') format('woff2 supports variations'),
    url('/fonts/MonaSans-Black.woff2') format('woff2-variations');
}

banner {
  display: flex;
  justify-content: center;
  font-family: 'Mona Sans Black';
  font-size: 1.5rem;
}

body {
  font-family: 'Mona Sans', verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

figcaption {
  padding-top: .5rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
}

figure img {
  width: 32;
}

footer {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: .6rem;
}

#posts ul li {
  padding-top: .5rem;
}

time {
  display: block;
  font-size: .75rem;
}

section {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}
