<footer>
  <figure>
    <figcaption>
      <a rel="me" href="https://hachyderm.io/@frantz">
        Mastodon
      </a>
    </figcaption>
  </figure>
  <figure>
    <figcaption>
      <a href="https://github.com/RyanFrantz">
        GitHub
      </a>
    </figcaption>
  </figure>
  <figure>
    <figcaption>
      <a href="https://twitter.com/Ryan_Frantz">
        Twitter
      </a>
    </figcaption>
  </figure>
  <figure>
    <figcaption>
      <a href="https://www.linkedin.com/in/theryanfrantz/">
        LinkedIn
      </a>
    </figcaption>
  </figure>
  <figure>
    <figcaption>
      <a href="/rss.xml">
        RSS
      </a>
    </figcaption>
  </figure>
</footer>
