<footer>
  <a class="info" href="https://twitter.com/Ryan_Frantz">
    <img src="/images/twitter_32x32.png">
    <div>@Ryan_Frantz</div>
  </a>
  <a class="info" rel="me" href="https://hachyderm.io/@frantz">
    <img src="/images/mastodon-32x26.png">
    <div>@frantz@hachyderm.io</div>
  </a>
  <a class="info" href="https://github.com/RyanFrantz">
    <img src="/images/github_32x32.png">
    <div>RyanFrantz</div>
  </a>
  <a class="info" href="https://www.linkedin.com/in/theryanfrantz/">
  <img src="/images/linkedin_32x32.png">
      <div>LinkedIn</div>
  </a>
  <a class="info" href="https://ryanfrantz.com/atom">
  <img src="/images/rss_32x32.png">
      <div>RSS Feed</div>
  </a>
</footer>
