<footer>
  <figure>
    <img src="/images/twitter_32x32.png">
    <figcaption>
      <a class="info" href="https://twitter.com/Ryan_Frantz">
        @Ryan_Frantz
      </a>
    </figcaption>
  </figure>
  <figure>
    <img src="/images/mastodon-32x26.png">
    <figcaption>
      <a class="info" rel="me" href="https://hachyderm.io/@frantz">
        @frantz@hachyderm.io
      </a>
    </figcaption>
  </figure>
  <figure>
    <img src="/images/github_32x32.png">
    <figcaption>
      <a class="info" href="https://github.com/RyanFrantz">
        RyanFrantz
      </a>
    </figcaption>
  </figure>
  <figure>
    <img src="/images/linkedin_32x32.png">
    <figcaption>
      <a class="info" href="https://www.linkedin.com/in/theryanfrantz/">
          LinkedIn
      </a>
    </figcaption>
  </figure>
  <figure>
    <img src="/images/rss_32x32.png">
    <figcaption>
      <a class="info" href="https://ryanfrantz.com/atom">
          RSS Feed
      </a>
    </figcaption>
  </figure>
</footer>
