<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <!-- https://web.dev/articles/responsive-web-design-basics -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
      <link rel="preload" href="/fonts/MonaSans.woff2" as="font" type="font/woff2" crossorigin>
      {% include google_analytics.html %}
    </head>
    <body>
      <banner>
        <a href="/">Ryan Frantz</a>
      </banner>
      <header>
        <nav>
          <ul>
            <li><a href="/archive/">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/papers/">Papers</a></li>
            <li><a href="/reading/">Reading</a></li>
            <li><a href="/tags/">Tags</a></li>
            <li><a href="/talks/">Talks</a></li>
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </body>
</html>
