---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="footer">
    <a class="block" href="https://twitter.com/Ryan_Frantz">
      <img src="/images/twitter_32x32.png">
      <div>Follow me on Twitter</div>
    </a>
    <a class="block" href="https://github.com/RyanFrantz">
      <img src="/images/github_32x32.png">
      <div>I've got some stuff on GitHub</div>
    </a>
  </section>
</section>
